In [ ]:
# Importing desired libraries
from matplotlib import pyplot
from imblearn.over_sampling import SMOTE
import pandas as pd
import numpy as np
from collections import Counter

In [ ]:
# mounting drive
from google.colab import drive

drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [ ]:
#data upload
df = pd.read_csv('/content/gdrive/MyDrive/IoT/dataset_cleaned.csv')
dataset = df.copy()
dataset.head()

,Flow_Duration,Tot_Fwd_Pkts,Tot_Bwd_Pkts,TotLen_Fwd_Pkts,TotLen_Bwd_Pkts,Fwd_Pkt_Len_Max,Fwd_Pkt_Len_Min,Fwd_Pkt_Len_Mean,Fwd_Pkt_Len_Std,Bwd_Pkt_Len_Max,...,Active_Std,Active_Max,Active_Min,Idle_Mean,Idle_Std,Idle_Max,Idle_Min,Label,Cat,Sub_Cat
0,75,1,1,982.0,1430.0,982.0,982.0,982.0,0.000000,1430.0,...,0.0,0.0,0.0,75.0,0.000000,75.0,75.0,1,1,5
1,5310,1,2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,2655.0,2261.327486,4254.0,1056.0,1,3,3
2,141,0,3,0.0,2806.0,0.0,0.0,0.0,0.000000,1388.0,...,0.0,0.0,0.0,70.5,0.707107,71.0,70.0,1,2,6
3,151,0,2,0.0,2776.0,0.0,0.0,0.0,0.000000,1388.0,...,0.0,0.0,0.0,151.0,0.000000,151.0,151.0,1,1,2
4,153,2,1,886.0,420.0,452.0,434.0,443.0,12.727922,420.0,...,0.0,0.0,0.0,76.5,0.707107,77.0,76.0,1,1,2

In [ ]:
#divided by Lable_Num
x = dataset.iloc[:,:-2]
y = dataset.iloc[:,-2]

In [ ]:
print("Before oversampling: ",Counter(y))

Before oversampling:  Counter({1: 415309, 2: 75265, 3: 59391, 0: 40073, 4: 35377})

In [ ]:
SMOTE = SMOTE()
# fit and apply the transform
X_train_SMOTE, y_train_SMOTE = SMOTE.fit_resample(x, y)

In [ ]:
print("After oversampling: ",Counter(y_train_SMOTE))

After oversampling:  Counter({1: 415309, 3: 415309, 2: 415309, 0: 415309, 4: 415309})

In [ ]:
X_train_SMOTE

,Flow_Duration,Tot_Fwd_Pkts,Tot_Bwd_Pkts,TotLen_Fwd_Pkts,TotLen_Bwd_Pkts,Fwd_Pkt_Len_Max,Fwd_Pkt_Len_Min,Fwd_Pkt_Len_Mean,Fwd_Pkt_Len_Std,Bwd_Pkt_Len_Max,...,Fwd_Seg_Size_Min,Active_Mean,Active_Std,Active_Max,Active_Min,Idle_Mean,Idle_Std,Idle_Max,Idle_Min,Label
0,75,1,1,982.0,1430.0,982.0,982.0,982.0,0.000000,1430.0,...,0,0.0,0.0,0.0,0.0,75.0,0.000000,75.0,75.0,1
1,5310,1,2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0,0.0,0.0,0.0,0.0,2655.0,2261.327486,4254.0,1056.0,1
2,141,0,3,0.0,2806.0,0.0,0.0,0.0,0.000000,1388.0,...,0,0.0,0.0,0.0,0.0,70.5,0.707107,71.0,70.0,1
3,151,0,2,0.0,2776.0,0.0,0.0,0.0,0.000000,1388.0,...,0,0.0,0.0,0.0,0.0,151.0,0.000000,151.0,151.0,1
4,153,2,1,886.0,420.0,452.0,434.0,443.0,12.727922,420.0,...,0,0.0,0.0,0.0,0.0,76.5,0.707107,77.0,76.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2076540,132,0,2,0.0,2776.0,0.0,0.0,0.0,0.000000,1388.0,...,0,0.0,0.0,0.0,0.0,132.0,0.000000,132.0,132.0,1
2076541,118,1,1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0,0.0,0.0,0.0,0.0,118.0,0.000000,118.0,118.0,1
2076542,121,0,2,0.0,1418.0,0.0,0.0,0.0,0.000000,1388.0,...,0,0.0,0.0,0.0,0.0,121.0,0.000000,121.0,121.0,1
2076543,115,0,2,0.0,2896.0,0.0,0.0,0.0,0.000000,1448.0,...,0,0.0,0.0,0.0,0.0,115.0,0.000000,115.0,115.0,1
2076544,72,0,2,0.0,2776.0,0.0,0.0,0.0,0.000000,1388.0,...,0,0.0,0.0,0.0,0.0,72.0,0.000000,72.0,72.0,1

In [ ]:
test1 = pd.concat([X_train_SMOTE, y_train_SMOTE], axis=1)

In [ ]:
test1

,Flow_Duration,Tot_Fwd_Pkts,Tot_Bwd_Pkts,TotLen_Fwd_Pkts,TotLen_Bwd_Pkts,Fwd_Pkt_Len_Max,Fwd_Pkt_Len_Min,Fwd_Pkt_Len_Mean,Fwd_Pkt_Len_Std,Bwd_Pkt_Len_Max,...,Active_Mean,Active_Std,Active_Max,Active_Min,Idle_Mean,Idle_Std,Idle_Max,Idle_Min,Label,Cat
0,75,1,1,982.0,1430.0,982.0,982.0,982.0,0.000000,1430.0,...,0.0,0.0,0.0,0.0,75.0,0.000000,75.0,75.0,1,1
1,5310,1,2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,2655.0,2261.327486,4254.0,1056.0,1,3
2,141,0,3,0.0,2806.0,0.0,0.0,0.0,0.000000,1388.0,...,0.0,0.0,0.0,0.0,70.5,0.707107,71.0,70.0,1,2
3,151,0,2,0.0,2776.0,0.0,0.0,0.0,0.000000,1388.0,...,0.0,0.0,0.0,0.0,151.0,0.000000,151.0,151.0,1,1
4,153,2,1,886.0,420.0,452.0,434.0,443.0,12.727922,420.0,...,0.0,0.0,0.0,0.0,76.5,0.707107,77.0,76.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2076540,132,0,2,0.0,2776.0,0.0,0.0,0.0,0.000000,1388.0,...,0.0,0.0,0.0,0.0,132.0,0.000000,132.0,132.0,1,4
2076541,118,1,1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,118.0,0.000000,118.0,118.0,1,4
2076542,121,0,2,0.0,1418.0,0.0,0.0,0.0,0.000000,1388.0,...,0.0,0.0,0.0,0.0,121.0,0.000000,121.0,121.0,1,4
2076543,115,0,2,0.0,2896.0,0.0,0.0,0.0,0.000000,1448.0,...,0.0,0.0,0.0,0.0,115.0,0.000000,115.0,115.0,1,4
2076544,72,0,2,0.0,2776.0,0.0,0.0,0.0,0.000000,1388.0,...,0.0,0.0,0.0,0.0,72.0,0.000000,72.0,72.0,1,4

In [ ]:
#saving data in the csv file
test1.to_csv("/content/gdrive/MyDrive/IoT/Cat_OverSample_Smote.csv", index = False)